* {
    margin: 0;
    padding: 0;
}

.carouselExampleDark1 {
    margin-top: 15px;
}

img {
    object-fit: cover;
    height: 300px;
}

.card-body {
    max-height: 233px;
    text-align: center;
}

.icon1 {
    border: solid 2px;
    border-radius: 50%;
    font-size: 45px;
    padding: 8px;
    box-shadow: 0px 0px 9px 7px #41464b;
}

.icon2 {
    border: solid 2px;
    border-radius: 50%;
    font-size: 45px;
    padding: 8px;
    box-shadow: 0px 0px 9px 7px #41464b;
}

.icon3 {
    border: solid 2px;
    border-radius: 50%;
    font-size: 45px;
    padding: 8px;
    box-shadow: 0px 0px 9px 7px #41464b;
}
#icon2{
    text-align: center;
}
.aboutUs {
    margin-top: 20px;
    background-color: #1F965F;
    color: white;
    max-height: fit-content;
}

.companyIcon {
    margin: 10px 14px;
    background-color: aliceblue;
}

.abtus {
    padding: 15px;
    /* margin: 15px; */
    text-align: center;
}
.clsh5{
    margin-top: 17px;
}
.contact{
    text-align: center;
}
.cardImg{
    margin-top: 20px !important;
    margin: 0px 0px 0px 0px;
}
.cardImg1{
    object-fit: cover;
}
.ourPrdt{
    text-transform: uppercase;
}
.form2{
    display: flex;
    flex-direction: column;
    width: 80%;     
}
.form2 input{
    margin: 10px;
    height: 35px;
}
.form2 label{
    font-size:'30px';
    font-weight:'300';
}
.contactFrm{
    background-color: #1F965F;
    padding:'20px'
}
.contactFrm1{
    height: 300px;
    margin-top: 20px;
}
.contactFrm h4{
 margin: 20px;
}
.footer1{
    color: aliceblue;
    margin-top: 137px;
    text-align: center;
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}
@media screen and (max-width: 770px) {
    .footer1 {
        margin-top: 470px;
    }
    .clsh5{
        margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 430px) {
    .footer1 {
        margin-top: 520px;
    }
}
.footer1 h4{
    height: 42px;
}
.footer2{
    background-color: black;
}
.footer3{
    background-color: #41464b;
}
.mail{
    display: flex;
    flex-direction: column;
}
#navbarSupportedContent li{
font-size: 20px;
font-weight: 700;
display: flex;
}
.product{
    display: flex;
}
.modal1 h4,h5{
font-size: 20px;
font-weight: 400;
}
